.contacts

	&__inner
		display: flex
		justify-content: space-between

	&__content

	&__map
		flex: 0 0 960px
		max-width: 960px
		height: 620px

	&__name
		margin-bottom: 40px
		font-weight: 500
		font-size: 28px

	&__text

		&:not(:last-child)
			margin-bottom: 15px
