.contacts

	&__inner
		display: flex
		justify-content: space-between

		+media($lg)
			display: block

	&__content

	&__map
		flex: 0 0 960px
		max-width: 960px
		height: 620px

		+media($llg)
			flex: 0 0 694px
			max-width: 694px
			height: 454px

		+media($lg)
			max-width: 100%
			height: auto
			margin-top: 35px

		+media($md)
			margin-top: 38px

	&__name
		max-width: 230px
		margin-bottom: 50px
		font-weight: 500
		font-size: 28px
		line-height: 1.2

		+media($llg)
			margin-bottom: 31px
			font-size: 24px

		+media($lg)
			font-size: 20px

		+media($md)
			max-width: 200px
			margin-bottom: 43px
			font-size: 16px

	&__text

		&:not(:last-child)
			margin-bottom: 20px

			+media($llg)
				margin-bottom: 10px

		a
			color: #000
			text-decoration: none
			transition: color 0.3s ease

			&:hover
				color: $c-main
				text-decoration: none

	&.section

		+media($llg)
			padding-bottom: 63px

		+media($lg)
			padding-bottom: 74px

		+media($md)
			padding-bottom: 43px
