.section-title
	$this: &
	position: relative
	margin-bottom: 75px

	&__text
		font-size: 80px
		text-transform: uppercase
		line-height: 1
		letter-spacing: 5px
		color: $c-main
		font-weight: 400

	&__descr

	&.is-border
		padding-bottom: 34px
		border-bottom: 3px solid $red-dark

	.bg-black &

		#{$this}__text
			color: #fff
