// Grid breakpoints
$xl: 1600px;
$llg: 1200px;
$lg: 1024px;
$md: 768px;
$sm: 420px;

// Fonts types
$font-main: 		'Roboto', sans-serif;
$font-sec: 			'Forum', sans-serif;

// Colors
$c-main:			#9D8665;
$bg-dark:			#030303;
$red-dark:			#710707;
$c-text:			#000;
$c-bg:				#ccc;
$trp:				transparent;
