.explore

	&__inner
		display: flex

	&__content
		flex: 0 0 50%
		max-width: 50%
		padding-right: 60px

	&__slider
		flex: 0 0 50%
		max-width: 50%
		margin-top: 10px

	&__article

		.text
			line-height: 1.75
			color: #fff

			&:not(:last-child)
				margin-bottom: 25px

		.accent
			color: $c-main
