-
	var menuList = [
		{
			name: 'Visiting',
			link: '#visiting',
		},
		{
			name: 'Explore',
			link: '#explore',
		},
		{
			name: 'Video',
			link: '#video',
		},
		{
			name: 'Gallery',
			link: '#gallery',
		},
		{
			name: 'Tickets',
			link: '#tickets',
		},
		{
			name: 'Contacts',
			link: '#contacts',
		},
	]

+b.main-menu
	+e('nav').__list
		each item in menuList
			+e('a').__link.link(href=item.link)= item.name
