-
	var pics = [
		{
			poster: 'poster0.jpg',
			thumbnail: 'poster0-thumb.jpg',
			video: 'https://www.youtube.com/embed/zp1BXPX8jcU',
		},
		{
			poster: 'poster1.jpg',
			thumbnail: 'poster1-thumb.jpg',
			video: 'https://www.youtube.com/embed/Vi5D6FKhRmo',
		},
		{
			poster: 'poster2.jpg',
			thumbnail: 'poster2-thumb.jpg',
			video: 'https://www.youtube.com/embed/NOhDysLnTvY',
		},
		{
			poster: 'poster3.jpg',
			thumbnail: 'poster3-thumb.jpg',
			video: 'https://www.youtube.com/embed/aWmJ5DgyWPI',
		},
		{
			poster: 'poster4.jpg',
			thumbnail: 'poster4-thumb.jpg',
			video: 'https://www.youtube.com/embed/zp1BXPX8jcU',
		},
	]

include ../video-player/video-player

+b('section').section.video#video
	.container
		+section-title({
			text: 'Video journey',
			descr: "Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code",
		})

		+b.slider-video-main
			+e.__wrap.js_slider-video-main
				+video-player()

		//- +b.slider-video-nav
			+e.__wrap.owl-carousel.owl-theme.js_slider-video-nav
				each item in pics
					+e.__slide
						iframe(src=item.video frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
