+b('footer').footer.bg-black
	.container
		+e.__top
			.logo
				img.logo-img(src="images/logo.svg", alt="logo")
			+main-menu({
				type: 'static'
			})
			include ../social/social
		+e.__bot
			.copyright ©2021
			+e('a').__link.link(href='https://rs.school/js/' target='_blank') The Rolling Scopes School
			+e('a').__link.link(href='https://github.com/Ferym26/rolling-scopes-school/tree/museum/museum' target='_blank') Ferym26
