-
	var socialList = [
		{
			name: 'youtube',
			link: '#',
			icon: 'social-youtube',
		},
		{
			name: 'instagram',
			link: '#',
			icon: 'social-insta',
		},
		{
			name: 'facebook',
			link: '#',
			icon: 'social-fb',
		},
		{
			name: 'twitter',
			link: '#',
			icon: 'social-tw',
		},
		{
			name: 'pinterest',
			link: '#',
			icon: 'social-pint',
		},
	]

+b('nav').social
	each item in socialList
		+e('a').__item(href=item.link aria-label=`link to ${item.name}`)
			+icon(item.icon)
